{% extends "base.html" %}

{% block title %}Note Page{% endblock %}

{% block content %}
<div class="container note-container">
    <div class="top-fields row">
        <div class="user-id col-md-6">
            <label for="userId">User ID:</label>
            <input type="text" id="userId" class="form-control" value="{{ user.id }}" readonly>
        </div>
        <div class="username col-md-6">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" value="{{ user.user_name }}" readonly>
        </div>
    </div>
    <div class="note-field mt-4">
        <label for="note">Note:</label>
        <textarea id="note" class="form-control" rows="10"></textarea>
    </div>
</div>
{% endblock %}

<style>
    .note-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .top-fields {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .note-field {
        width: 100%;
    }
    .form-control {
        resize: none;
    }
</style>
